* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 8%);
  font-family: "Inter", sans-serif;
  padding: 30px 0;
}

article {
  background-color: hsl(0, 0%, 12%);
  width: 90%;
  max-width: 475px;
  height: auto;
  margin: 30px auto;
  text-align: center;
  border-radius: 20px;
  padding: 20px 0;
}

img {
  border-radius: 50%;
  padding: 20px 0;
}

h1 {
  color: hsl(0, 0%, 100%);
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 10px;
}

h2 {
  color: hsl(75, 94%, 57%);
  font-size: 16px;
  margin-bottom: 30px;
}

.profile-bio {
  color: hsl(0, 0%, 100%);
  margin-bottom: 20px;
}

li {
  margin-bottom: 20px;
  list-style: none;
}

nav a:link,
nav a:visited {
  display: inline-block;
  text-decoration: none;
  width: 80%;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 20%);
  border: 1px solid hsl(0, 0%, 20%);
  border-radius: 8px;
  padding: 15px;
}

nav a:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}

footer {
  text-align: center;
  color: hsl(0, 0%, 100%);
}

footer a:link,
footer a:visited {
  text-decoration: none;
  color: hsl(75, 94%, 57%);
}

footer a:hover {
  text-decoration: underline;
}
